body {
    font-size: 16px;
}

.link-sm {
    font-size: 12px; /* Smaller font */
    margin: 5px; /* Adjust margin */
    color: white;
    text-decoration: none;
}

/* Hide the sidebar in the post view */
.md-content--post .md-sidebar {
    display: none!important;
}

#tag\:latest {
    display: none!important;
}

.grid.cards.cols-1 {
    font-size: medium;
}
